# Panel

In [1]:
import pandas as pd
import numpy as np
#import warnings
#warnings.filterwarnings("ignore")

In [2]:
data = np.random.randint(1, 10, (5, 3, 2))

In [3]:
data = data.reshape(5, 6).T

In [4]:
df = pd.DataFrame(
    data = data,
    index = pd.MultiIndex.from_product([[2015, 2016, 2017], ['US', 'UK']]),
    columns = ['item {}'.format(i) for i in range(1, 6)])

In [5]:
df

         item 1  item 2  item 3  item 4  item 5
2015 US       2       1       3       5       6
     UK       4       7       7       3       7
2016 US       7       9       1       5       2
     UK       2       5       1       9       1
2017 US       2       6       4       2       1
     UK       2       1       5       1       6

## Criando objetos multidimensionais com Panel

In [6]:
USData = pd.DataFrame(np.array([[249.62 , 8900],
                              [282.16,12680],
                              [309.35,14940]]),
                      columns = ['População(M)','PIB($B)'],
                      index = [1995,2005,2015])

In [7]:
USData

      População(M)  PIB($B)
1995        249.62   8900.0
2005        282.16  12680.0
2015        309.35  14940.0

In [8]:
ChinaData = pd.DataFrame(np.array([[1133.68, 390.28],
                                 [1266.83,1198.48],
                                 [1339.72, 9923.47]]),
                       columns=['População(M)','PIB($B)'],
                       index=[1995,2005,2015])

In [9]:
ChinaData

      População(M)  PIB($B)
1995       1133.68   390.28
2005       1266.83  1198.48
2015       1339.72  9923.47

In [10]:
US_ChinaData = {'US' : USData,
                'China': ChinaData}

In [11]:
US_ChinaData

{'US':       População(M)  PIB($B)
 1995        249.62   8900.0
 2005        282.16  12680.0
 2015        309.35  14940.0,
 'China':       População(M)  PIB($B)
 1995       1133.68   390.28
 2005       1266.83  1198.48
 2015       1339.72  9923.47}